<div class="announcement-overlay">
  <div class="announcement-container">
    <div class="exit-button" (click)="closeOverlay()">
      <img class="exit-icon" src="assets/exit.svg" alt="exit" />
    </div>
    <div class="input-container">
      <input
        #title
        type="text"
        id="title"
        name="title"
        (change)="getTitle(title.value)"
        placeholder="Title"
      />
      <input
        #message
        type="text"
        id="message"
        name="message"
        (change)="getMessage(message.value)"
        placeholder="Message"
      />
    </div>
    <div>
      <button class="submit-btn" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
