<div class="modal-overlay">
  <div class="modal-container">
    <div class="exit-button" (click)="closeOverlay()">
      <img class="exit-icon" src="assets/exit.svg" alt="exit" />
    </div>
    <form class="form-container">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="{{ inputOne }}"
        [(ngModel)]="formData.name"
        required
      />
      <input
        type="text"
        id="description"
        name="description"
        placeholder="{{ inputTwo }}"
        [(ngModel)]="formData.description"
        required
      />
    </form>
    <div class="active-select" *ngIf="showEditForm">
      <p>Active?</p>
      <select class="minimal" [(ngModel)]="formData.active">
        <option value="none" selected disabled hidden>Pick an option</option>
        <option [ngValue]="true">Yes</option>
        <option [ngValue]="false">No</option>
      </select>
    </div>
    <div class="active-select" *ngIf="showTeamForm">
      <p>
        Select Members <br />
        <em
          >For windows: Hold (ctrl) + click <br />
          For Mac: Hold ⌘ + click</em
        >
      </p>
      <select multiple class="minimal" [(ngModel)]="formData.members">
        <option value="none" selected disabled hidden>Pick an option</option>
        <option *ngFor="let user of users" [ngValue]="user">
          {{ user.profile.firstName }} {{ user.profile.lastName[0] }}.
        </option>
      </select>
    </div>
    <div>
      <button class="submit-btn" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
