.announcement-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0px;
  background-color: rgba(18, 18, 18, 0.6);
  z-index: 1;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.announcement-container {
  position: relative;
  box-sizing: border-box;
  width: 40%;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px;
  z-index: 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: var(--beige);
  background: #051622;
  border: 1px solid var(--blue-text);
  border-radius: 10px;
}

.exit-button {
  margin: 15px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.exit-icon {
  width: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 50%;
  justify-content: space-around;
}

.input-fName {
  padding: 0.5rem;
  flex-basis: 66.7%;
}

.input-lName {
  padding: 0.5rem;
  flex-basis: 33.3%;
}

input {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #1ba098bf;
  background-color: #051622;
  border: 0px;
  border-bottom: 1px white solid;
}

::placeholder {
  opacity: 1;
  color: #1ba098bf;
  text-align: center;
  background-color: #051622;
}

.submit-btn {
  width: 120px;
  height: 40px;
  background: #1ba098;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.29px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  font-size: 15px;
  font-family: Mulish;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  word-wrap: break-word;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.active-select {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.active-select > p {
  color: #deb992;
  font-size: 20px;
  font-family: Mulish;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}
