<app-nav-bar></app-nav-bar>
<div class="teams">
  <div class="heading-container">
    <h1>Teams</h1>
    <button
      *ngIf="isAdmin === 'true'"
      class="new-team-btn"
      (click)="showOverlay()"
    >
      New
    </button>
  </div>
  <div class="team-container">
    <div
      class="team-card"
      *ngFor="let team of teams"
      (click)="openProjects(team)"
    >
      <div class="card-header">
        <p class="team-name">{{ team.name }}</p>
        <p># of Projects: {{ projectCounts[team.id] }}</p>
      </div>
      <h3>Members</h3>
      <div class="card-body">
        <p *ngFor="let teammate of team.teammates">
          {{ teammate.profile.firstName }} {{ teammate.profile.lastName[0] }}.
        </p>
      </div>
    </div>
  </div>
  <app-create-modal
    [inputOne]="inputOne"
    [inputTwo]="inputTwo"
    [showTeamForm]="showTeamForm"
    [users]="users"
    *ngIf="showCreateForm"
    (hideOverlay)="showOverlay()"
    (formSubmitted)="onCreation($event)"
  ></app-create-modal>
</div>
