.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  height: fit-content;
  margin: 20px 0px;
}

.cook {
  color: #1ba098;
  font-size: 72px;
  font-family: Mulish;
  font-weight: 400;
  line-height: 108px;
  word-wrap: break-word;
}

.final {
  color: #1ba098;
  font-size: 48px;
  font-family: Mulish;
  font-weight: 400;
  line-height: 72px;
  word-wrap: break-word;
}

.loginbox {
  width: 40%;
  height: 60%;
  border-width: 5px;
  border-radius: 15px;
  border-style: solid;
  border-color: #deb992;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.svg-image {
  height: 10rem;
  width: 10rem;
  margin-right: 0.75rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #0d3a59;
  margin-left: 1rem;
}

input {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #1ba098bf;
  background-color: #051622;
  border: 0px;
  border-bottom: 1px white solid;
}

::placeholder {
  opacity: 1;
  color: #1ba098bf;
  text-align: center;
  background-color: #051622;
}

button {
  width: 160px;
  height: 52px;
  border-radius: 50px;
  border: 2px;
  gap: 8px;
  border: 2px solid #1ba098;
  background: #051622;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #1ba098;
}

p {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 400;
  color: red;
  margin: 0px;
}
