<div class="login-container">
  <div class="title">
    <span class="cook">COOK SYSTEMS<br /></span
    ><span class="final">A FINAL APP</span>
  </div>
  <form class="loginbox" [formGroup]="loginForm" (ngSubmit)="validateUser()">
    <img
      class="svg-image"
      src="assets/home-icon.svg"
      routerLink="/announcements"
      alt="Graphic Image"
    />
    <input type="text" formControlName="username" placeholder="Username" />
    <input type="password" formControlName="password" placeholder="Password" />
    <button type="submit">Log In</button>
    <p *ngIf="error !== ''">{{ error }}</p>
  </form>
</div>
