<div class="modal">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label [for]="inputOne">{{ inputOne }}</label>
      <input
        type="text"
        [name]="inputOne"
        [(ngModel)]="formData[inputOne]"
        required
      />
    </div>
    <div>
      <label [for]="inputTwo">{{ inputTwo }}</label>
      <input
        type="text"
        [name]="inputTwo"
        [(ngModel)]="formData[inputTwo]"
        required
      />
    </div>
    <button type="submit">Submit</button>
  </form>
  <button>close</button>
</div>
