<app-nav-bar></app-nav-bar>
<div class="users">
  <div class="heading-container">
    <h1>User Registry</h1>
    <h4>A general view of all your members in your organization</h4>
  </div>
  <div class="users-content">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Active</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.profile.firstName }} {{ user.profile.lastName }}</td>
            <td>{{ user.profile.email }}</td>
            <td *ngIf="user.admin" class="true">YES</td>
            <td *ngIf="!user.admin" class="false">NO</td>
            <td *ngIf="user.active" class="true">YES</td>
            <td *ngIf="!user.active" class="false">NO</td>
            <td>{{ user.status.toUpperCase() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="new-user-btn" (click)="showOverlay()">Add User</button>
  </div>
  <app-new-user-modal
    *ngIf="showForm"
    (hideOverlay)="showOverlay()"
    (formSubmitted)="onSubmission($event)"
  ></app-new-user-modal>
</div>
