<app-nav-bar></app-nav-bar>
<div class="projects">
  <p class="back-Btn" routerLink="/teams">&larr; Back</p>
  <div class="heading-container">
    <h1>Projects for {{ teamName }}</h1>
    <button class="new-project-btn">New</button>
  </div>
  <div class="project-container">
    <div class="project-item" *ngFor="let project of projects">
      <div class="project-details">
        <p>{{ project.name }}</p>
        <p>{{ project.active }}</p>
      </div>
      <div class="project-details-cont">
        <p>{{ project.description }}</p>
        <button class="new-project-btn">Edit</button>
      </div>
    </div>
  </div>
</div>
