<app-nav-bar></app-nav-bar>
<div class="projects">
  <p class="back-Btn" (click)="goBack()">&larr; Back</p>
  <div class="heading-container">
    <h1>Projects for {{ team.name }}</h1>
    <button
      *ngIf="user.admin"
      class="new-project-btn"
      (click)="showCreateOverlay()"
    >
      New
    </button>
  </div>
  <div class="project-container">
    <div class="project-item" *ngFor="let project of teamProjects">
      <div class="project-details">
        <p class="project-name">{{ project.name }}</p>
        <p *ngIf="project.active" class="true">Active</p>
        <p *ngIf="!project.active" class="false">Inactive</p>
      </div>
      <div class="project-details-cont">
        <p>{{ project.description }}</p>
        <button class="edit-project-btn" (click)="showEditOverlay(project)">
          Edit
        </button>
      </div>
    </div>
  </div>
  <app-create-modal
    [inputOne]="'Project Name'"
    [inputTwo]="'Description'"
    [showEditForm]="showEditForm"
    [projectData]="selectedProject"
    *ngIf="showCreateForm || showEditForm"
    (hideOverlay)="showOverlay()"
    (formSubmitted)="!showEditForm ? onCreation($event) : onEdit($event)"
  ></app-create-modal>
</div>
