.announcement-header {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    font-family: Mulish;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
  }
  
  .announcement-body {
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
  }
  