<app-nav-bar></app-nav-bar>
<div class="announcements">
  <div class="heading-container">
    <h1>Announcements</h1>
    <button class="new-announcement-btn">New</button>
  </div>
  <div
    class="announcement-container"
    *ngFor="let announcement of announcements"
  >
    <div class="announcement-header">
      <p>{{ announcement.firstName }} {{ announcement.lastName }}</p>
      <p>{{ announcement.date }}</p>
    </div>
    <div class="announcement-body">
      {{ announcement.message }}
    </div>
  </div>
</div>
