<app-nav-bar></app-nav-bar>
<div class="announcements">
  <div class="heading-container">
    <h1>Announcements</h1>
    <button class="new-announcement-btn">New</button>
  </div>
  <div class="announcement-container" *ngFor = "let announcement of announcements" > 
    <app-announcement-card 
      [firstname] = "announcement.author.profile.firstname" 
      [lastName] = "announcement.author.profile.lastName" 
      [date] = "announcement.date" 
      [message] = "announcement.message"></app-announcement-card>
  </div>
  <!-- <div class="announcement-container">
    <div class="announcement-header">
      <p>Matt Rowan</p>
      <p>August 29, 1993</p>
    </div>
    <div class="announcement-body">
      Lorem ipsum our announcements go here! Our business has been going great
      and we are going to announce the winners of employee of the month!
    </div>
  </div> -->
</div>
