<app-nav-bar></app-nav-bar>
<div class="announcements">
  <div class="heading-container">
    <h1>Announcements</h1>
    <button *ngIf = "isAdmin === true" class="new-announcement-btn" class="new-announcement-btn" (click)="toggleModal()">New</button>
  </div>
  <div
    class="announcement-container"
    *ngFor="let announcement of announcements"
  >
    <div class="announcement-header">
      <p>{{ announcement.firstName }} {{ announcement.lastName }}</p>
      <p>{{ announcement.date | date:'MMMM dd, yyyy'}}</p>
    </div>
    <div class="announcement-body">
      {{ announcement.message }}
    </div>
  </div>
  <app-modal [inputOne]="inputOne" [inputTwo]="inputTwo" [hidden]="isModalHidden" (formSubmitted)="onAnnouncementSubmission($event)"></app-modal>
</div>
